/* --------- Global style */

body {
    background-color: white;
    font-family: 'Silkscreen', cursive;
    color: #950740;
    text-align: center;
    font-size: 27px;
    background-color: #1A1A1D;
}

h1,

#difficulty,
#game-set,
[type=submit] {
    margin-bottom: 19px;
}

#game-over-message {
    width: 550px;
}

#win-link {
    width: 550px;
}

#pc-result {
    color: white;
}

.hidden-round {
    height: 64px;
}

/* Page button style */
#round-outcome {
    color: white;
}

.game-buttons {
    height: 79px;
    border-radius: 12px;
    background-color: #C3073F;
    font-size: 43px;
    color: white;
}

button {
    height: 79px;
    border-radius: 12px;
    background-color: #C3073F;
    font-size: 43px;
    color: white;
}

.game-buttons:hover {
    filter: drop-shadow(1px 2px 13px white);
}

.difficulty-selected {
    color: black;
    background-color: white;
    height: 79px;
    border-radius: 12px;
    font-size: 43px;
    text-decoration: none;
}


/*Game Option Icons */


.game-items {
    width: 280px;
    height: 226px;
    border: none;
}


/*Image sizes*/
#rock {
    width: 280px;
    height: 226px;
    border: none;
}

#paper {
    width: 280px;
    height: 226px;
    border: none;
}

#scissors {
    width: 280px;
    height: 226px;
    border: none;
}

#lizard {
    width: 269px;
    height: 185px;
    border: none;
}

#spock {
    width: 237px;
    height: 252px;
    border: none;
}

/* button pseudo elements reactions*/


.selected {
    outline: 4px solid #0C90F0;
    border-radius: 6px;
    filter: none;
}



img:hover {
    filter: drop-shadow(9px 0px 11px #0C90F0) drop-shadow(-4px 1px 0 #0C90F0);
    cursor: pointer;
    margin-right: 0.5rem;
}

ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
}

#your-current-score {
    color: #0C90F0;
    text-align: end;
}

#computer-current-score {
    text-align: start;
}


/* Run the game button */
#shoot-game {
    height: 79px;
    border-radius: 12px;
    background-color: #f7aa2e;
    font-size: 43px;
    color: #950740;
    border: solid 2px white;
}

#shoot-game:hover span {
    display: none;
}

#shoot-game:hover {
    background-color: #C3073F;
    color: white;
    color: white;
}

#shoot-game:hover::before {
    content: "Shoot >>>";
    width: fit-content;
}

#shoot-game:active {
    height: 79px;
    border-radius: 12px;
    background-color: #fcba03;
    font-size: 43px;
    color: #950740;
    border: solid 2px blue;
}

/* refresh Game button */

#restart-game {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 16px;
    height: 34px;
}