/* --------- Global style */

body {
    background-color: white;
    font-family: 'Silkscreen', cursive;
    color: #950740;
    text-align: center;
    font-size: 27px;
    background-color: #1A1A1D;
}