/* --------- Global style */

body {
    background-color: white;
    font-family: 'Silkscreen', cursive;
    color: #950740;
    text-align: center;
    font-size: 27px;
    background-color: #1A1A1D;
}

h1,
#round-outcome,
#difficulty,
#game-set,
[type=submit] {
    margin-bottom: 29px;
}

/* Page button style */

.game-buttons {
    height: 79px;
    border-radius: 12px;
    background-color: #C3073F;
    font-size: 43px;
    color: white;
}

.game-buttons:hover {
    filter: drop-shadow(1px 2px 13px white);
}

.game-buttons:checked {
    background-color: white;
    font-size: 43px;
    color: #C3073F;
}

.game-buttons:focus {
    background-color: white;
    font-size: 43px;
    color: #C3073F;
}

#shoot-game {
    color: black;
    background-color: white;
    height: 79px;
    border-radius: 12px;
    font-size: 43px;
    text-decoration: none;
}


/*Game Option Icons */


.game-items {
    width: 280px;
    height: 226px;
    border: none;
}


/*Image sizes*/
#option1 {
    width: 280px;
    height: 226px;
    border: none;
}

#option2 {
    width: 280px;
    height: 226px;
    border: none;
}

#option3 {
    width: 280px;
    height: 226px;
    border: none;
}

#option4 {
    width: 269px;
    height: 185px;
    border: none;
}

#option5 {
    width: 237px;
    height: 252px;
    border: none;
}

/* button pseudo elements reactions*/
[type=radio]:checked+img {
    outline: 4px solid #0C90F0;
    border-radius: 6px;
    filter: none;
}

img:hover {
    filter: drop-shadow(9px 0px 11px #0C90F0) drop-shadow(-4px 1px 0 #0C90F0);
}


[type=radio]+img {
    cursor: pointer;
    margin-right: 0.5rem;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#your-current-score {
    color: #0C90F0;
}